version: '2'
services:
  back-pgsql:
    build: .
    build:
      context: ./pgsql
    env_file:
      - ./.env
    environment:
      - POSTGRES_PASSWORD=$DB_BACK_PASSWORD
      - POSTGRES_USER=$DB_BACK_USER
      - POSTGRES_DB=$DB_BACK_NAME
      - ./pgsql/data:/var/lib/postgresql/data
    ports:
      - 5431:5432
  back-php:
    build: .
    build:
      context: ./apache
    env_file:
      - ./.env
    volumes:
      - ./../back:/var/www/html/back
      # https://stackoverflow.com/a/37898591
      # ignore sub folder
      - /var/www/html/back/vendor
      - /var/www/html/back/var
    ports:
      - 80:80
    links:
      - back-pgsql
  back-front:
    command: npm start
    build: .
    build:
      context: ./node
    environment:
      - NODE_ENV=development
    volumes:
      - ./../front:/src
    ports:
      - 3000:3000
    links:
      - back-php